body{
	background-color: #00263b;
}

/*redimensiona o logo em mobile*/
.sonic-logo{
	width: 60%;
    margin: 20px;
}
/*redimensiona o sanduiche do menu mobile*/
.navbar-toggle {
	margin-top: 15px;
	margin-right: 30px;
	padding: 15px;
}
/*Tira o margin bottom da nav original do bootstrap*/
.navbar{
	margin-bottom: 0px;
}
/*barra de progresso das perguntas*/
.barra{
	height: 5px;
	background-color: #ff6e19;
}
/*crontrola o tamnho e da cor a caixa de pergunta*/
.caixa-pergunta{
	padding: 20px;

	/*margin: 40px;*/
	/*width: 80%;*/
	height: inherit;
	background-color: white;
	/*border-radius: 10px;*/
}
.main-caixa{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

/*distancia a pergunta da caixa*/
.pergunta-p1{
	display: flex;
	justify-content: center;
	margin: 10px;
    margin-bottom: 20px;
}
/*Centraliza e organiza a resposta*/
.resposta-p1{
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

/*Define as cores dos botões e do hover*/
.btn-default-1{
  color: white;
  background-color: #FA6A25;
  border-color: #FA6A25;
  margin-right: 40px;
}

.btn-default-2{
  color: white;
  background-color: #FA6A25;
  border-color: #FA6A25;
}

.btn-default-1:hover, .btn-default-2:hover{
  color: #FA6A25;
  background-color: white;
  border-color: #FA6A25;
}

.btn-sonic{
	border-radius: 0px;
}

.header-logo{
	height: 60px;
	background-color: white;
}
.sonic-logo-header{
	width: 15%;
	margin-top: 15px;
}
.nav-cinza{
	height: 20px;
	background-color: #68696b;
}
.lista-nav-cinza{
	display: flex;
	list-style-type: none;
	justify-content: center;
}

@media (max-width:767px){
	.header-logo{
		display: none;
	}
	.sonic-logo-header{
		display: none;
	}
	.nav-cinza{
		display: none;
	}
	.main-caixa{
		margin: 20px;
	}
}
/*Ajusta o tamanho da caixinha branca e do logo para diferentes resoluções(ATENCAO AQUI)*/
/*@media (min-width: 600px){
	.caixa-pergunta{
		width: 50%;
		margin-left: 25%;
	}
	.sonic-logo{
		width: 50%;
	    margin: 20px;
	}
}*/
@media (min-width: 767px){
	 .sonic-logo{
	 	display: none;
	 }
	 .navbar{
	 	display: none;
	 }
	 
	}
