html{
	background-color: #00263b;
}

.menu-topo{
	background-color: #68696b;
	height: 40px;
}

.sonic-logo{
	width: 60%;
    margin: 20px;
}
.navbar-toggle {
	margin-top: 15px;
	margin-right: 30px;
	padding: 15px;
}

.progress-bar{
	display: flex;
	
}
